<h1>Alterar senha</h1>

<form method="POST">
  {% csrf_token %}

  <div>
    <label>Insira sua senha atual: </label>
    <input type="password" name="password" required>
  </div>

  <div>
    <label>Insira sua nova senha: </label>
    <input type="password" name="password_new1" required>
  </div>

  <div>
    <label>Insira sua nova senha novamente: </label>
    <input type="password" name="password_new2" required>
  </div>

  <input type="submit" value="Atualizar">

</form>

{% if password_error %}
  Erro: a senha atual é inválida.
{% endif %}

{% if new_password_error %}
  {% for message in error_message %}
    {{ message }}
    <br>
  {% endfor %}
{% endif %}

{% if new_password_cmp_error %}
  Erro: as novas senhas não coincidem
{% endif %}